# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

~$agleBoneBlack_Software_Development_Document.docx
field_code/LoggerLib.py.bak
field_code/LoggerMain.py.bak
field_code/.LoggerLib.py.swp
field_code/LoggerMain.py~
field_code/.LoggerConfig.py.swp
field_code/LoggerConfig.py~
field_code/.LoggerMain.py.swp
field_code/LoggerLib.py~
field_code/classes_LoggerLib.svg
field_code/classes_LoggerLibAll.png
field_code/classes_LoggerLibs.png
field_code/classes_LoggerLibs.svg
field_code/.LoggerProgram.py.swp
field_code/rsync.sh~
field_code/LoggerMainInit.sh~
field_code/LoggerMain.service~